<nav class="nav">
  <%= link_to "Home", root_path %>
  <%= link_to "Users", users_path %>
  
  <%# If using authentication (like with Devise) %>
  <%# if defined?(user_signed_in?) && user_signed_in? %>
    <%#= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%# else %>
    <%#= link_to "Sign In", new_user_session_path %>
    <%#= link_to "Register", new_user_registration_path %>
  <%# end %>
</nav>
